@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #505050;
}

.dark {
  --background: #171717;
  --forground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
  --font-inter: var(--font-inter);
  --color-primary-text: var(--text-primary);
}


body {
  background: var(--background);
  color: var(--foreground);
}
